/mpg123-1.14.4/ports/MSVC++/2013/libmpg123/Debug
/mpg123-1.14.4/ports/MSVC++/2013/libmpg123/Release
/pcre-8.33/build/pcrecpp.dir
/pcre-8.33/build/pcre.dir
/curl-7.34.0/build/lib/Release
/curl-7.34.0/build/lib/Debug
/curl-7.34.0/vs/vc12/lib/Release
/curl-7.34.0/vs/vc12/lib/Debug
/FreeImage3154/FreeImage/Wrapper/FreeImagePlus/Debug/vc120.idb
/udt.sdk.4.11/udt4/src/udtd.lib
/FreeImage3154/FreeImage/Wrapper/FreeImagePlus/dist/FreeImagePlus.h
