/mpg123-1.14.4/ports/MSVC++/2013/libmpg123/Debug
/mpg123-1.14.4/ports/MSVC++/2013/libmpg123/Release
/pcre-8.33/build/pcrecpp.dir
/pcre-8.33/build/pcre.dir
/curl-7.34.0/build/lib/Release
/curl-7.34.0/build/lib/Debug
